Import Packages/Libraries

In [ ]:
import pandas as pd                 # Data Processing, CSV file I/O (e.g. pd.read_csv)
import numpy as np                  # Linear Algebra
import matplotlib.pyplot as plt     # Data Visualization
import seaborn as sns               # Data Visualization

Read Data File / CSV File:

In [9]:
import pandas as pd
PCollege_Sal_Data = pd.read_csv('final-post-college-salaries.csv')
PCollege_Sal_Data.head()

,Rank,Major,Degree Type,Early Career Pay,Mid-Career Pay,% High Meaning
0,1,Petroleum Engineering,Bachelors,"$98,100","$212,100",60%
1,2,Operations Research & Industrial Engineering,Bachelors,"$101,200","$202,600",21%
2,3,Electrical Engineering & Computer Science (EECS),Bachelors,"$128,500","$192,300",45%
3,4,Interaction Design,Bachelors,"$77,400","$178,800",55%
4,5,Building Science,Bachelors,"$71,100","$172,400",46%

Number of Rows and Columns:

In [10]:
PCollege_Sal_Data.shape

(763, 6)