# <h1> U.S Post College Salary Prediction Model <h1>
# The Salary Dataset contains 763 rows and 6 columns with the following data:
# 1. Rank
# 2. Major
# 3. Degree Type
# 4. Early Career Pay
# 5. Mid-Career Pay
# 6. High Meaning Percentage

In [ ]:
# Import Packages/Libraries
import pandas as pd                 # Data Processing, CSV file I/O (e.g. pd.read_csv)
import numpy as np                  # Linear Algebra
import matplotlib.pyplot as plt     # Data Visualization
import seaborn as sns               # Data Visualization

Read Data File / CSV File:

In [17]:
import pandas as pd
PCollege_Sal_Data = pd.read_csv('final-post-college-salaries.csv')
PCollege_Sal_Data

,Rank,Major,Degree Type,Early Career Pay,Mid-Career Pay,% High Meaning
0,1,Petroleum Engineering,Bachelors,"$98,100","$212,100",60%
1,2,Operations Research & Industrial Engineering,Bachelors,"$101,200","$202,600",21%
2,3,Electrical Engineering & Computer Science (EECS),Bachelors,"$128,500","$192,300",45%
3,4,Interaction Design,Bachelors,"$77,400","$178,800",55%
4,5,Building Science,Bachelors,"$71,100","$172,400",46%
...,...,...,...,...,...,...
758,759,Equine Studies,Bachelors,"$42,300","$54,100",50%
759,760,Nonprofit Administration,Bachelors,"$43,900","$53,700",73%
760,761,Addictions Counseling,Bachelors,"$47,300","$52,400",78%
761,762,Early Childhood Education,Bachelors,"$43,400","$52,200",78%
762,763,Metalsmithing,Bachelors,"$45,900","$46,600",36%

In [18]:
# List of Columns, Data Types, and Number of Non-Null Values
PCollege_Sal_Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 763 entries, 0 to 762
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Rank              763 non-null    int64
 1   Major             763 non-null    object
 2   Degree Type       763 non-null    object
 3   Early Career Pay  763 non-null    object
 4   Mid-Career Pay    763 non-null    object
 5   % High Meaning    763 non-null    object
dtypes: int64(1), object(5)
memory usage: 35.9+ KB

Data Cleaning and Preprocessing:

In [19]:
# Since the dataset contains string values, we will convert them to numerical values for easier computation.
# We'll be cleaning Early Career Pay, Mid-Career Pay, and High Meaning Percentage columns.

# Cleaning $ and commas
def clean_column(column):
    column = column.str.replace('$', '', regex=False)
    column = column.str.replace(',', '', regex=False)
    return column

PCollege_Sal_Data['Early Career Pay'] = clean_column(PCollege_Sal_Data['Early Career Pay'])
PCollege_Sal_Data['Mid-Career Pay'] = clean_column(PCollege_Sal_Data['Mid-Career Pay'])
PCollege_Sal_Data['% High Meaning'] = clean_column(PCollege_Sal_Data['% High Meaning'])

PCollege_Sal_Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 763 entries, 0 to 762
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Rank              763 non-null    int64
 1   Major             763 non-null    object
 2   Degree Type       763 non-null    object
 3   Early Career Pay  763 non-null    object
 4   Mid-Career Pay    763 non-null    object
 5   % High Meaning    763 non-null    object
dtypes: int64(1), object(5)
memory usage: 35.9+ KB

Understanding the Data:

In [ ]:
# Number of Rows and Columns
PCollege_Sal_Data.shape

In [ ]:
PCollege_Sal_Data.describe()

In [ ]:
# Check for Missing(Null) Values, if any. With no null values, nothing will be dropped.
PCollege_Sal_Data.isnull().sum()

In [ ]:
# Degree Type contains only one unique value within our dataset which wouldn't be necessary to keep for our analysis. So it will be dropped.
PCollege_Sal_Data['Degree Type'].value_counts()